APP_URL=https://timer.dev.webforxtech.com
LOGIN_PATH=/login
LOGIN_EMAIL=
LOGIN_PASSWORD=
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=
EMAIL_TO=
EMAIL_CC=
HEADLESS=true
LOGIN_TIMEOUT=30000
LOGOUT_TIME=18:00
