0 9 * * 1-5  /path/to/timer-automation/.venv/bin/python /path/to/timer-automation/app.py --action=login
0 18 * * 1-5 /path/to/timer-automation/.venv/bin/python /path/to/timer-automation/app.py --action=logout
